/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */
/* @import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */

/* Added this to stick the toolbar to top */
mat-toolbar {
    height: 64px;
    position: fixed;
    z-index: 100;
    width: 100%  !important;
}

.example-card {
    max-width: 250px;
    margin: 4px
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
}

.card-container {
    flex: 1 1 25%;
    min-width: 250px;
    margin: 10px;
}

.footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 16px;
    text-align: left;
}

.social-media a {
    margin-right: 16px;
}

.attribution {
    margin-top: 16px;
}