<!-- Toolbar -->
<div class="toolbar" role="banner">
  <mat-toolbar color="primary">
    <span>iNatty NFTs</span>
    <!-- Put a button on the right side of this banner -->
    <span class="flexExpand">
      <radix-connect-button />
    </span>
    
  </mat-toolbar>
</div>

<div class="content" role="main">

  <!-- Content -->
  <div class="container">

    <br><br>
    <br><br>
    <nav>
      <!-- make size bigger -->
      <a mat-button routerLink="/">Home</a> |
      <a mat-button routerLink="/register">Register</a> |
      <a mat-button routerLink="/mint">Mint</a>
    </nav>

    <app-register></app-register>
    <app-mint></app-mint> 
    <router-outlet></router-outlet>
    
  </div>

</div>
