<!-- Toolbar -->
<div class="toolbar" role="banner">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
         <div >
            <span>iNatty NFTs 🦤 ✨📷✨ 🎞</span>
         </div>
         <nav class="mainnav">
          <a mat-button routerLink="/">About</a> |
          <a mat-button routerLink="/register">Register</a> |
          <a mat-button routerLink="/mint">Mint</a> |
          <a mat-button routerLink="/trade">Trade</a>
        </nav>
         <span class="flexExpand"></span>
         <div >
           <radix-connect-button></radix-connect-button>
         </div>
        </mat-toolbar-row>
  </mat-toolbar>
</div>

<br><br><br><br>

<div class="content" role="main">

  <!-- Content -->
  <div class="container">
    
    <br>
    <app-register></app-register>
    <app-mint></app-mint> 
    <router-outlet></router-outlet>
    
  </div>

</div>
